body {
  font-style: $base-font-style;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-font-color;
  background-color: $base-background-color;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
  text-transform: uppercase;
}

h3,
h4 {
  font-family: $heading-font-family;
}

h3 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  letter-spacing: 1.5px;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 0.4);
  }
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
